{
  "extends": [
    "prettier",
    "kentcdodds",
    "kentcdodds/react",
    "kentcdodds/jest",
    "kentcdodds/jsx-a11y"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-console": "error",
    "import/no-useless-path-segments": "off",
    "import/no-unassigned-import": "off",
    "max-lines": "off",
    "no-eq-null": "off",
    "eqeqeq": "off",
    "react/jsx-indent": "off",
    "complexity": ["error", 12]
  }
}
