{
  "extends": ["prettier", "kentcdodds", "kentcdodds/react", "kentcdodds/jest"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "react/no-unused-prop-types": "off",
    "import/no-useless-path-segments": "off",
    "import/no-unassigned-import": "off",
    "max-lines": "off",
    "no-eq-null": "off",
    "eqeqeq": "off",
    "react/jsx-indent": "off",
    "complexity": ["error", 12]
  }
}
